In [ ]:
print("let value of x=")
x=12
print(x)
print("let value of y=")
y=5
print(y)
print("Addition=")
print(x+y)
print("Sutraction=")
print(x-y)
print("Multiplication=")
print(x*y)
print("Division=")
print(x/y)
print("Modulus=")
print(x%y)

let value of x=
12
let value of y=
5
Addition=
17
Sutraction=
7
Multiplication=
60
Division=
2.4
Modules=
2

In [ ]:
x=100
y=40
print("Add=", x+y)
print("Subtract=", x-y)
print("Product=", x*y)
print("Division=", x/y)
print("Modules=", x%y)

Add= 140
Subtract= 60
Product= 4000
Division= 2.5
Modules= 20

In [ ]:
# Write a code for finding whether user is eligible for CNIC or Driving License.
# name=str(input("Name:"))
x=int(input("Enter Your Age:"))
if x>=18:
  print("You are eligible")
else:
 print("You are not eligible")

Enter Your Age:24
You are eligible

In [ ]:
# Write a python program by using function that takes student name as input and calculate their grades based on the marks


def grading():
  a = input("Enter your full name: ")
  b = int(input("Enter your marks: "))
  if b>=80 and b<=100:
    print("You got an A")
  elif b>=70 and b<=79:
    print("You got B grade")
  elif b>=60 and b<=69:
    print("You got C grade")
  elif b>=50 and b<=59:
    print("You got D grade")
  elif b<50:
    print("You got F grade")
  else:
    print("Invalid!!!")

grading()

Enter your full name: sajeel
Enter your marks: 32
You got F grade

In [ ]:
# Write a function that calculate area of circle.
def area():
    r = int(input(" Enter the radius: "))
    pi = 3.14
    area_ofcircle = pi*(r**2)
    print(area_ofcircle)
area()

 Enter the radius: 3
28.26

In [ ]:
# Write a function that swap two variables values.
def swap():
    a=int(input("Enter value of a: "))
    b=int(input("Enter value of b: "))
    c=a
    a=b
    b=c
    print("value of a after swapping: ", a, "\nvalue of b after swapping: ", b)
swap()

Enter value of a: 23
Enter value of b: 44
value of a after swapping:  44
value of b after swapping:  23

In [ ]:
# Write a function that convert temperature in Celsius to Fahrenheit.
def temp():
    c= int(input("Write the temperature in Celsius: "))
    F= (9/5)*c+32
    print("Temperature in Fahrenheit is: ",F)
temp()

Write the temperature in Celsius: 25
Temperature in Fahrenheit is:  77.0

In [ ]:
# Write a program that check input character is vowelÂ orÂ consonant.
ch=input("Enter a character to check: ")
if ch=="a"or ch=="e"or ch=="i"or ch=="o"or ch=="u":
    print(ch, "is a vowel")
elif ch=="A"or ch=="E"or ch=="I"or ch=="O"or ch=="U":
    print(ch, " is a VOWEL")
elif ch=="b"or ch=="c"or ch=="d"or ch=="f"or ch=="g"or ch=="h"or ch=="p"or ch=="j"or ch=="k"or ch=="l"or ch=="m"or ch=="n"or ch=="q"or ch=="r"or ch=="s"or ch=="t"or ch=="v"or ch=="w"or ch=="x"or ch=="y"or ch=="z":
    print(ch, " is a consonant")
elif ch=="B"or ch=="C"or ch=="D"or ch=="F"or ch=="G"or ch=="H"or ch=="P"or ch=="J"or ch=="K"or ch=="L"or ch=="M"or ch=="N"or ch=="Q"or ch=="R"or ch=="S"or ch=="T"or ch=="V"or ch=="W"or ch=="X"or ch=="Y"or ch=="Z":
    print(ch, " is a CONSONANT")
else:
    print("Invalid entry!!!")

Enter a character to check: Q
Q  is a CONSONANT

In [ ]:
ch=input("Enter a character to check: ")
if ch=="a"or ch=="e"or ch=="i"or ch=="o"or ch=="u" or ch=="A"or ch=="E"or ch=="I"or ch=="O"or ch=="U":
    print(ch, "is a vowel")
else:
    print(ch, "is a consonant.")

Enter a character to check: o
o is a vowel

In [5]:
# Write a function that swap two variables values without using third variable.
def swapping ():
  a =int(input("Enter first value: "))
  b= int(input("Enter second value: "))
  a = a+b-a
  b = b+a-b
  print(a,b)
swapping()

Enter first value: 12
Enter second value: 15
15 15

In [7]:
a = float(input("Enter the desired quantity in Litres: "))
b = 255.63
print("Price is: ",b)
print("Total amount is: ")
print(a*b)

Enter the desired quantity in Litres: 10
Price is:  255.63
Total amount is:
2556.3

In [21]:
# Assessment:  x = [1,2,3,3,3,4,5,5] Extract any three middle values, extract all value except first and last.
#                 extract every third value, reverse first half values?

x = [1,2,3,3,3,4,5,5]
print("Any three middle values: ")
print(x[2:5])
print("all value except first and last: ")
print(x[1:-1])
print("Every third value: ")
print(x[0:-1:3])

Any three middle values:
[3, 3, 3]
all value except first and last:
[2, 3, 3, 3, 4, 5]
Every third value:
[1, 3, 5]

In [20]:
x = [1,2,3,3,3,4,5,5]
print("Reverse of the first half values: ")
print(x[-1::1])

Reverse of the first half values:
[5]